body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #333;
}

.container {
    display: flex;
    justify-content: center;
    height: 100dvh;
}

.sofidev {
    height: 100dvh;
    width: 100px;
    height: 100px;
}

.sofidev::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background: transparent;
    box-shadow:
        180px 80px #000000,
        200px 80px #000000,
        220px 80px #000000,
        220px 80px #000000,
        240px 80px #000000,
        260px 80px #000000,
        280px 80px #000000,
        300px 80px #000000,
        320px 80px #000000,
        340px 100px #000000,
        340px 120px #000000,
        380px 160px #000000,
        380px 180px #000000,
        480px 160px #000000,
        400px 180px #000000,
        400px 200px #000000,
        360px 80px #000000,
        380px 80px #000000,
        160px 100px #000000,
        160px 120px #686868,
        180px 120px #ffffff,
        200px 120px #ffffff,
        220px 120px #ffffff,
        240px 120px #ffffff,
        260px 120px #ffffff,
        320px 80px #e11e1e,
        300px 80px #000000,
        280px 100px #000000,
        280px 120px #000000,
        360px 120px #000000,
        340px 140px #e11e1e,
        360px 120px #000000,
        320px 140px #e11e1e,
        320px 100px #000000,
        340px 120px #e11e1e,
        340px 80px #000000,
        300px 120px #000000,
        320px 120px #000000,
        280px 120px #000000,
        300px 140px #000000,
        300px 160px #000000,
        280px 180px #000000,
        320px 160px #e11e1e,
        340px 160px #e11e1e,
        380px 120px #000000,
        140px 140px #000000,
        160px 140px #000000,
        180px 140px #000000,
        200px 140px #000000,
        220px 140px #000000,
        240px 140px #000000,
        260px 140px #000000,
        280px 140px #000000,
        380px 140px #4a3a2f,
        400px 140px #4a3a2f,
        140px 160px #000000,
        140px 160px #000000,
        160px 160px #2c1c11,
        180px 160px #2c1c11,
        200px 160px #2c1c11,
        220px 160px #2c1c11,
        240px 160px #2c1c11,
        260px 160px #2c1c11,
        280px 160px #2c1c11,
        360px 160px #e11e1e,
        340px 180px #e11e1e,
        360px 180px #e11e1e,
        320px 180px #e11e1e,
        300px 180px #e11e1e,
        300px 200px #e11e1e,
        320px 200px #e11e1e,
        340px 200px #e11e1e,
        360px 200px #e11e1e,
        260px 200px #000000,
        280px 200px #000000,
        260px 220px #000000,
        280px 220px #000000,
        300px 220px #000000,
        320px 220px #000000,
        340px 220px #000000,
        360px 220px #000000,
        380px 220px #000000,
        380px 160px #000000,
        360px 140px #000000,
        340px 120px #000000,
        400px 160px #2c1c11,
        100px 160px #000000,
        20px 160px #000000,
        40px 160px #000000,
        60px 160px #000000,
        80px 160px #000000,
        80px 140px #000000,
        60px 120px #000000,
        40px 100px #000000,
        20px 80px #000000,
        0px 60px #000000,
        -20px 60px #000000,
        -40px 60px #000000,
        -60px 80px #000000,
        -80px 100px #000000,
        -80px 120px #000000,
        -80px 140px #000000,
        -80px 160px #000000,
        -80px 180px #000000,
        -80px 200px #000000,
        -60px 180px #000000,
        -60px 160px #000000,
        -60px 140px #000000,
        -60px 120px #000000,
        -60px 100px #000000,
        -40px 80px #000000,
        -20px 100px #cf0b0b,
        0px 80px #000000,
        -20px 80px #000000,
        0px 100px #cf0b0b,
        20px 120px #cf0b0b,
        20px 140px #cf0b0b,
        20px 100px #000000,
        40px 120px #000000,
        40px 140px #000000,
        60px 140px #000000,
        0px 120px #cf0b0b,
        0px 140px #cf0b0b,
        0px 160px #cf0b0b,
        -20px 120px #cf0b0b,
        -40px 140px #cf0b0b,
        -40px 160px #cf0b0b,
        -40px 180px #000000,
        -40px 100px #000000,
        -40px 120px #cf0b0b,
        -20px 140px #cf0b0b,
        -20px 160px #cf0b0b,
        -80px 120px #000000,
        -180px 400px #000000,
        -160px 400px #2c1c11,
        -140px 400px #2c1c11,
        -120px 400px #2c1c11,
        -100px 400px #2c1c11,
        -80px 400px #2c1c11,
        -60px 400px #000000,
        -40px 400px #2c1c11,
        -20px 400px #2c1c11,
        0px 400px #2c1c11,
        20px 400px #2c1c11,
        40px 400px #2c1c11,
        60px 400px #2c1c11,
        80px 400px #2c1c11,
        100px 400px #000000,
        120px 400px #2c1c11,
        140px 400px #2c1c11,
        160px 400px #2c1c11,
        180px 400px #2c1c11,
        200px 400px #2c1c11,
        220px 400px #2c1c11,
        240px 400px #2c1c11,
        260px 400px #2c1c11,
        280px 400px #000000,
        300px 400px #2c1c11,
        320px 400px #000000,
        340px 400px #2c1c11,
        360px 400px #2c1c11,
        380px 400px #2c1c11,
        400px 400px #2c1c11,
        420px 400px #2c1c11,
        440px 400px #2c1c11,
        460px 400px #000000,
        480px 400px #2c1c11,
        500px 400px #000000,
        520px 400px #000000,
        500px 440px #000000,
        480px 440px #2c1c11,
        480px 460px #2c1c11,
        480px 480px #2c1c11,
        500px 480px #2c1c11,
        520px 480px #2c1c11,
        500px 460px #000000,
        520px 460px #000000,
        540px 460px #000000,
        540px 480px #000000,
        540px 500px #000000,
        520px 500px #000000,
        500px 500px #000000,
        480px 500px #000000,
        520px 440px #000000,
        120px 420px #000000,
        140px 420px #2c1c11,
        160px 420px #2c1c11,
        180px 420px #2c1c11,
        200px 420px #2c1c11,
        220px 420px #2c1c11,
        240px 420px #2c1c11,
        260px 420px #000000,
        280px 420px #2c1c11,
        300px 420px #2c1c11,
        320px 420px #000000,
        340px 420px #2c1c11,
        360px 420px #2c1c11,
        380px 420px #2c1c11,
        400px 420px #2c1c11,
        420px 420px #2c1c11,
        440px 420px #2c1c11,
        460px 420px #000000,
        480px 420px #2c1c11,
        500px 420px #000000,
        520px 420px #000000,
        -160px 420px #000000,
        -140px 420px #2c1c11,
        -120px 420px #2c1c11,
        -100px 420px #2c1c11,
        -80px 420px #000000,
        -60px 420px #2c1c11,
        -40px 420px #2c1c11,
        -20px 420px #2c1c11,
        40px 420px #2c1c11,
        60px 420px #2c1c11,
        0px 440px #2c1c11,
        0px 420px #2c1c11,
        100px 420px #f5bb95,
        20px 420px #2c1c11,
        80px 440px #f5bb95,
        100px 440px #f5bb95,
        120px 440px #000000,
        140px 460px #000000,
        140px 480px #000000,
        140px 500px #000000,
        160px 520px #000000,
        180px 540px #000000,
        200px 520px #000000,
        0px 520px #000000,
        200px 500px #000000,
        220px 480px #000000,
        220px 460px #000000,
        340px 540px #000000,
        200px 560px #000000,
        220px 540px #000000,
        260px 520px #000000,
        240px 520px #000000,
        340px 540px #000000,
        320px 540px #000000d3,
        120px 620px #ffd9b3,
        140px 620px #f5bb95,
        160px 620px #ffd9b3,
        180px 620px #f5bb95,
        100px 500px #ffd9b3,
        80px 460px #ffd9b3,
        100px 520px #ffd9b3,
        80px 520px #ffd9b3,
        60px 540px #ffd9b3,
        120px 540px #ffd9b3,
        100px 540px #ffd9b3,
        80px 540px #ffd9b3,
        60px 540px #ffd9b3,
        40px 540px #000000,
        60px 560px #000000,
        60px 580px #000000,
        60px 600px #915731,
        60px 620px #ffd9b3,
        80px 620px #ffd9b3,
        40px 620px #f5bb95,
        40px 600px #4d0282,
        40px 580px #4d0282,
        40px 560px #4d0282,
        20px 560px #6f0fb3,
        20px 580px #c0c0c0,
        20px 600px #6f0fb3,
        20px 620px #f5bb95,
        0px 600px #ffffff,
        0px 580px #ffffff,
        -20px 560px #6f0fb3,
        -20px 580px #4d0282,
        -20px 600px #4d0282,
        -20px 620px #f5bb95,
        0px 620px #f5bb95,
        -20px 620px #f5bb95,
        -40px 620px #f5bb95,
        -80px 580px #915731,
        -80px 600px #915731,
        -60px 620px #915731,
        -40px 640px #915731,
        -20px 640px #f5bb95,
        -0px 640px #f5bb95,
        20px 660px #f5bb95,
        40px 660px #f5bb95,
        60px 680px #f5bb95,
        80px 680px #f5bb95,
        100px 680px #f5bb95,
        120px 680px #f5bb95,
        140px 680px #f5bb95,
        160px 680px #f5bb95,
        180px 680px #f5bb95,
        180px 660px #f5bb95,
        200px 660px #f5bb95,
        220px 660px #f5bb95,
        240px 640px #f5bb95,
        260px 640px #f5bb95,
        220px 640px #ffd9b3,
        200px 640px #ffd9b3,
        180px 640px #ffd9b3,
        160px 640px #ffd9b3,
        140px 640px #ffd9b3,
        120px 640px #ffd9b3,
        100px 640px #ffd9b3,
        80px 640px #ffd9b3,
        60px 640px #ffd9b3,
        40px 640px #ffd9b3,
        20px 640px #ffd9b3,
        60px 660px #ffd9b3,
        80px 660px #ffd9b3,
        100px 660px #ffd9b3,
        120px 660px #ffd9b3,
        140px 660px #ffd9b3,
        160px 660px #ffd9b3,
        -20px 660px #915731,
        0px 660px #915731,
        20px 680px #915731,
        40px 680px #915731,
        60px 700px #915731,
        80px 700px #915731,
        100px 700px #915731,
        120px 700px #915731,
        140px 700px #915731,
        160px 700px #915731,
        180px 700px #915731,
        200px 680px #915731,
        220px 680px #915731,
        240px 660px #915731,
        260px 660px #915731,
        280px 640px #915731,
        300px 640px #915731,
        320px 620px #915731,
        340px 620px #915731,
        360px 600px #915731,
        380px 600px #915731,
        400px 580px #915731,
        420px 580px #915731,
        420px 560px #915731,
        420px 540px #915731,
        440px 540px #915731,
        460px 520px #915731,
        460px 500px #915731,
        80px 740px #050505,
        60px 740px #050505,
        20px 740px #050505,
        40px 740px #050505,
        40px 740px #050505,
        20px 760px #050505,
        0px 760px #050505,
        20px 740px #050505,
        0px 740px #050505,
        -20px 760px #050505,
        -40px 780px #050505,
        -20px 780px #050505,
        0px 780px #050505,
        20px 780px #050505,
        40px 780px #050505,
        60px 780px #4b4b4b,
        80px 780px #4b4b4b,
        100px 780px #4b4b4b,
        40px 760px #000000,
        60px 760px #4b4b4b,
        80px 760px #4b4b4b,
        100px 760px #4b4b4b,
        120px 760px #4b4b4b,
        140px 760px #4b4b4b,
        160px 760px #000000,
        180px 760px #000000,
        200px 760px #000000,
        220px 760px #000000,
        240px 760px #000000,
        260px 760px #000000,
        260px 780px #000000,
        240px 780px #000000,
        220px 780px #000000,
        200px 780px #000000,
        180px 780px #000000,
        160px 780px #000000,
        140px 780px #000000,
        120px 780px #000000,
        280px 780px #000000,
        300px 780px #000000,
        320px 780px #000000,
        -40px 800px #000000,
        -40px 820px #000000,
        -20px 820px #000000,
        0px 820px #000000,
        20px 820px #000000,
        40px 820px #000000,
        40px 820px #000000,
        60px 820px #686868,
        80px 820px #686868,
        100px 820px #686868,
        120px 820px #686868,
        140px 820px #686868,
        160px 820px #686868,
        180px 820px #000000,
        200px 820px #000000,
        220px 820px #000000,
        240px 820px #000000,
        260px 820px #000000,
        280px 820px #686868,
        300px 820px #000000,
        320px 820px #000000,
        340px 820px #000000,
        340px 840px #000000,
        320px 840px #000000,
        300px 840px #686868,
        280px 840px #000000,
        260px 840px #000000,
        240px 840px #000000,
        220px 840px #000000,
        200px 840px #000000,
        180px 840px #000000,
        180px 840px #000000,
        160px 840px #000000,
        140px 840px #000000,
        120px 840px #000000,
        100px 840px #000000,
        80px 840px #000000,
        60px 840px #000000,
        40px 840px #000000,
        20px 840px #000000,
        0px 840px #686868,
        -20px 840px #000000,
        -40px 840px #000000,
        -40px 860px #000000,
        -20px 860px #000000,
        0px 860px #686868,
        20px 860px #000000,
        40px 860px #000000,
        40px 860px #000000,
        60px 860px #000000,
        80px 860px #000000,
        100px 860px #000000,
        120px 860px #000000,
        140px 860px #000000,
        160px 860px #000000,
        180px 860px #000000,
        200px 860px #000000,
        220px 860px #000000,
        240px 860px #000000,
        260px 860px #000000,
        280px 860px #000000,
        300px 860px #686868,
        320px 860px #000000,
        340px 860px #000000,
        340px 860px #000000,
        360px 860px #000000,
        380px 860px #000000,
        400px 880px #000000,
        380px 880px #000000,
        360px 880px #000000,
        340px 880px #000000,
        320px 880px #686868,
        300px 880px #686868,
        280px 880px #000000,
        260px 880px #000000,
        240px 880px #000000,
        220px 880px #000000,
        200px 880px #000000,
        180px 880px #000000,
        160px 880px #000000,
        140px 880px #000000,
        120px 880px #000000,
        100px 880px #000000,
        80px 880px #000000,
        60px 880px #000000,
        40px 880px #000000,
        20px 880px #000000,
        0px 880px #686868,
        -20px 880px #000000,
        -40px 880px #000000,
        360px 880px #000000,
        -20px 800px #000000,
        0px 800px #000000,
        20px 800px #000000,
        40px 800px #686868,
        60px 800px #686868,
        80px 800px #686868,
        100px 800px #686868,
        120px 800px #686868,
        140px 800px #686868,
        140px 800px #000000,
        160px 800px #000000,
        180px 800px #000000,
        200px 800px #000000,
        220px 800px #000000,
        240px 800px #000000,
        260px 800px #000000,
        280px 800px #000000,
        300px 800px #000000,
        320px 800px #000000,
        340px 800px #000000,
        40px 720px #050505,
        60px 720px #050505,
        80px 720px #050505,
        100px 720px #050505,
        120px 720px #050505,
        140px 720px #050505,
        160px 720px #050505,
        180px 720px #050505,
        200px 720px #050505,
        220px 740px #050505,
        240px 740px #050505,
        240px 680px #050505,
        260px 680px #050505,
        200px 700px #050505,
        220px 700px #050505,
        240px 700px #050505,
        260px 700px #050505,
        220px 720px #050505,
        240px 720px #050505,
        260px 720px #050505,
        280px 720px #050505,
        300px 720px #050505,
        280px 740px #050505,
        320px 740px #050505,
        320px 760px #050505,
        340px 780px #050505,
        360px 800px #050505,
        360px 820px #050505,
        360px 840px #050505,
        380px 860px #050505,
        380px 840px #050505,
        400px 860px #050505,
        260px 740px #050505,
        200px 740px #050505,
        180px 740px #050505,
        120px 740px #050505,
        140px 740px #050505,
        160px 740px #050505,
        100px 740px #050505,
        300px 740px #050505,
        280px 760px #050505,
        300px 760px #050505,
        440px 500px #f5bb95,
        440px 520px #f5bb95,
        420px 520px #f5bb95,
        400px 560px #f5bb95,
        360px 540px #f5bb95,
        360px 560px #f5bb95,
        380px 580px #f5bb95,
        340px 580px #f5bb95,
        340px 600px #f5bb95,
        460px 480px #915731,
        -40px 600px #f5bb95,
        -60px 600px #f5bb95,
        -60px 600px #f5bb95,
        -60px 580px #f5bb95,
        0px 540px #000000,
        -20px 540px #000000,
        -40px 540px #000000,
        -60px 540px #d79d77,
        -60px 520px #d79d77,
        -60px 560px #d79d77,
        -40px 560px #000000,
        -40px 580px #000000,
        -40px 600px #000000,

        100px 620px #ffd9b3,
        100px 580px #ffd9b3,
        80px 600px #ffd9b3,
        80px 560px #ffd9b3,
        100px 560px #ffd9b3,
        120px 560px #ffd9b3,
        120px 580px #ffd9b3,
        140px 580px #ffd9b3,
        140px 600px #ffd9b3,
        120px 600px #ffd9b3,
        160px 600px #ffd9b3,
        180px 600px #ffd9b3,
        80px 580px #ffd9b3,
        100px 600px #ffd9b3,
        60px 520px #ffd9b3,
        40px 520px #ffd9b3,
        40px 500px #ffd9b3,
        60px 500px #ffd9b3,
        80px 500px #ffd9b3,
        60px 480px #ffd9b3,
        80px 480px #ffd9b3,
        100px 480px #ffd9b3,
        100px 460px #ffd9b3,
        120px 460px #ffd9b3,
        120px 480px #ffd9b3,
        120px 500px #ffd9b3,
        120px 520px #ffd9b3,
        140px 520px #ffd9b3,
        140px 540px #ffd9b3,
        160px 540px #ffd9b3,
        180px 560px #ffd9b3,
        140px 560px #ffd9b3,
        160px 560px #ffd9b3,
        160px 580px #ffd9b3,
        180px 580px #ffd9b3,
        200px 580px #915731,
        200px 600px #915731,
        200px 620px #ffd9b3,
        220px 620px #d79d77,
        240px 620px #d79d77,
        260px 620px #915731,
        280px 620px #915731,
        260px 600px #4d0282,
        340px 580px #000000,
        340px 560px #000000,
        320px 560px #000000,
        320px 580px #000000,
        320px 600px #000000,
        300px 620px #000000,
        280px 600px #6f0fb3,
        300px 600px #6f0fb3,
        300px 580px #4d0282,
        300px 560px #4d0282,
        300px 540px #4d0282,
        260px 560px #4d0282,
        260px 580px #4d0282,
        280px 580px #4d0282,
        280px 560px #c0c0c0,
        280px 540px #000000,
        260px 540px #4d0282,
        220px 560px #FFF,
        220px 580px #FFF,
        220px 600px #FFF,
        240px 600px #FFF,
        240px 580px #FFF,
        240px 560px #FFF,
        240px 540px #c0c0c0,
        200px 540px #f5bb95,
        220px 520px #f5bb95,
        220px 500px #f5bb95,
        240px 500px #f5bb95,
        260px 500px #f5bb95,
        240px 480px #f5bb95,
        240px 460px #f5bb95,
        260px 460px #f5bb95,
        260px 480px #f5bb95,
        280px 480px #f5bb95,
        280px 500px #f5bb95,
        280px 520px #000000,
        300px 520px #000000,
        340px 520px #d79d77,
        380px 520px #2c1c11,
        400px 500px #2c1c11,
        380px 500px #2c1c11,
        360px 480px #2c1c11,
        380px 480px #2c1c11,
        400px 480px #2c1c11,
        420px 480px #2c1c11,
        440px 460px #2c1c11,
        420px 460px #2c1c11,
        400px 460px #2c1c11,
        380px 460px #2c1c11,
        360px 460px #2c1c11,
        340px 440px #2c1c11,
        360px 440px #2c1c11,
        380px 440px #2c1c11,
        400px 440px #2c1c11,
        420px 440px #2c1c11,
        440px 440px #2c1c11,
        460px 440px #000000,
        460px 460px #000000,
        440px 480px #000000,
        420px 500px #000000,
        400px 520px #000000,
        400px 540px #000000,
        380px 560px #000000,
        360px 580px #000000,
        380px 560px #000000,
        380px 540px #000000,
        360px 520px #000000,
        360px 500px #000000,
        360px 500px #000000,
        320px 500px #2c1c11,
        320px 480px #2c1c11,
        320px 460px #2c1c11,
        300px 460px #2c1c11,
        300px 440px #2c1c11,
        320px 440px #000000,
        340px 460px #000000,
        340px 480px #000000,
        340px 500px #000000,
        320px 520px #000000,
        300px 500px #000000,
        300px 480px #000000,
        280px 460px #000000,
        280px 440px #000000,
        260px 440px #2c1c11,
        240px 440px #000000,
        220px 440px #2c1c11,
        200px 440px #2c1c11,
        180px 440px #2c1c11,
        160px 440px #2c1c11,
        140px 440px #2c1c11,
        160px 460px #2c1c11,
        180px 460px #2c1c11,
        200px 460px #2c1c11,
        160px 480px #2c1c11,
        180px 480px #2c1c11,
        200px 480px #2c1c11,
        160px 500px #2c1c11,
        180px 500px #2c1c11,
        180px 520px #2c1c11,
        -20px 460px #2c1c11,
        -100px 460px #2c1c11,
        -120px 460px #2c1c11,
        -120px 440px #2c1c11,
        -100px 440px #2c1c11,
        -140px 440px #2c1c11,
        -120px 480px #2c1c11,
        -100px 480px #2c1c11,
        -80px 440px #000000,
        -60px 440px #2c1c11,
        -40px 440px #2c1c11,
        20px 440px #2c1c11,
        40px 440px #2c1c11,
        -80px 460px #000000,
        -40px 460px #2c1c11,
        -80px 480px #000000,
        -60px 480px #000000,
        -60px 500px #000000,
        -40px 520px #000000,
        -20px 540px #000000,
        0px 560px #000000,
        20px 540px #000000,
        20px 520px #000000,
        20px 500px #000000,
        40px 480px #000000,
        60px 460px #000000,
        40px 460px #2c1c11,
        20px 460px #2c1c11,
        60px 440px #000000,
        80px 420px #000000,
        -60px 460px #2c1c11,
        0px 460px #2c1c11,
        -40px 480px #2c1c11,
        -20px 480px #2c1c11,
        0px 480px #2c1c11,
        20px 480px #2c1c11,
        -20px 440px #2c1c11,
        -160px 440px #000000,
        -140px 460px #000000,
        -140px 480px #000000,
        -120px 500px #000000,
        -120px 520px #000000,
        -100px 540px #000000,
        -80px 560px #000000,
        -60px 580px #000000,
        -80px 540px #000000,
        0px 540px #2c1c11,
        -80px 520px #000000,
        -80px 500px #000000,
        -40px 500px #2c1c11,
        -20px 500px #2c1c11,
        0px 500px #2c1c11,
        -100px 520px #2c1c11,
        -20px 520px #2c1c11,
        0px 520px #2c1c11,
        -100px 500px #2c1c11,
        -180px 380px #000000,
        -160px 380px #2c1c11,
        -140px 380px #2c1c11,
        -120px 380px #2c1c11,
        -100px 380px #2c1c11,
        -80px 380px #2c1c11,
        -60px 380px #000000,
        -40px 380px #2c1c11,
        -20px 380px #2c1c11,
        0px 380px #2c1c11,
        20px 380px #2c1c11,
        40px 380px #2c1c11,
        60px 380px #2c1c11,
        80px 380px #2c1c11,
        100px 380px #2c1c11,
        120px 380px #000000,
        140px 380px #2c1c11,
        160px 380px #2c1c11,
        180px 380px #2c1c11,
        200px 380px #2c1c11,
        220px 380px #2c1c11,
        240px 380px #2c1c11,
        260px 380px #2c1c11,
        280px 380px #000000,
        300px 380px #2c1c11,
        320px 380px #2c1c11,
        340px 380px #000000,
        360px 380px #2c1c11,
        380px 380px #2c1c11,
        400px 380px #2c1c11,
        420px 380px #2c1c11,
        420px 380px #2c1c11,
        440px 380px #2c1c11,
        460px 380px #000000,
        480px 380px #2c1c11,
        500px 380px #000000,
        -180px 360px #000000,
        -160px 360px #2c1c11,
        -140px 360px #2c1c11,
        -120px 360px #2c1c11,
        -100px 360px #2c1c11,
        -80px 360px #4a3a2f,
        -60px 360px #2c1c11,
        -40px 360px #000000,
        -20px 360px #2c1c11,
        0px 360px #2c1c11,
        20px 360px #2c1c11,
        40px 360px #2c1c11,
        60px 360px #2c1c11,
        80px 360px #2c1c11,
        100px 360px #2c1c11,
        120px 360px #000000,
        140px 360px #2c1c11,
        160px 360px #2c1c11,
        180px 360px #2c1c11,
        200px 360px #2c1c11,
        220px 360px #2c1c11,
        240px 360px #2c1c11,
        260px 360px #2c1c11,
        280px 360px #000000,
        300px 360px #2c1c11,
        320px 360px #2c1c11,
        340px 360px #000000,
        360px 360px #2c1c11,
        380px 360px #2c1c11,
        400px 360px #2c1c11,
        420px 360px #2c1c11,
        420px 360px #2c1c11,
        440px 360px #2c1c11,
        460px 360px #000000,
        480px 360px #2c1c11,
        500px 360px #000000,
        -180px 340px #000000,
        -160px 340px #2c1c11,
        -140px 340px #2c1c11,
        -120px 340px #2c1c11,
        -100px 340px #2c1c11,
        -80px 340px #4a3a2f,
        -60px 340px #2c1c11,
        -40px 340px #2c1c11,
        -20px 340px #000000,
        0px 340px #2c1c11,
        20px 340px #2c1c11,
        40px 340px #2c1c11,
        60px 340px #2c1c11,
        80px 340px #2c1c11,
        100px 340px #2c1c11,
        120px 340px #2c1c11,
        140px 340px #000000,
        160px 340px #2c1c11,
        180px 340px #2c1c11,
        200px 340px #2c1c11,
        220px 340px #2c1c11,
        240px 340px #2c1c11,
        260px 340px #2c1c11,
        280px 340px #2c1c11,
        300px 340px #2c1c11,
        320px 340px #2c1c11,
        340px 340px #2c1c11,
        360px 340px #2c1c11,
        380px 340px #2c1c11,
        400px 340px #2c1c11,
        420px 340px #2c1c11,
        440px 340px #2c1c11,
        460px 340px #000000,
        480px 340px #2c1c11,
        500px 340px #000000,
        -180px 320px #000000,
        -160px 320px #2c1c11,
        -140px 320px #2c1c11,
        -120px 320px #68584d,
        -100px 320px #2c1c11,
        -80px 320px #2c1c11,
        -60px 320px #2c1c11,
        -40px 320px #2c1c11,
        -20px 320px #2c1c11,
        0px 320px #2c1c11,
        20px 320px #4a3a2f,
        40px 320px #2c1c11,
        60px 320px #2c1c11,
        80px 320px #2c1c11,
        100px 320px #2c1c11,
        120px 320px #2c1c11,
        140px 320px #2c1c11,
        160px 320px #2c1c11,
        180px 320px #2c1c11,
        200px 320px #2c1c11,
        220px 320px #2c1c11,
        240px 320px #2c1c11,
        260px 320px #2c1c11,
        280px 320px #2c1c11,
        300px 320px #2c1c11,
        320px 320px #2c1c11,
        340px 320px #2c1c11,
        360px 320px #2c1c11,
        380px 320px #2c1c11,
        400px 320px #2c1c11,
        420px 320px #2c1c11,
        440px 320px #2c1c11,
        460px 320px #000000,
        480px 320px #2c1c11,
        500px 320px #000000,
        -180px 300px #000000,
        -160px 300px #000000,
        -140px 300px #2c1c11,
        -120px 300px #68584d,
        -100px 300px #4a3a2f,
        -80px 300px #4a3a2f,
        -60px 300px #2c1c11,
        -40px 300px #2c1c11,
        -20px 300px #2c1c11,
        0px 300px #2c1c11,
        20px 300px #4a3a2f,
        40px 300px #2c1c11,
        60px 300px #2c1c11,
        80px 300px #2c1c11,
        100px 300px #2c1c11,
        120px 300px #2c1c11,
        140px 300px #2c1c11,
        160px 300px #2c1c11,
        180px 300px #2c1c11,
        200px 300px #2c1c11,
        220px 300px #2c1c11,
        240px 300px #2c1c11,
        260px 300px #2c1c11,
        280px 300px #2c1c11,
        300px 300px #2c1c11,
        320px 300px #2c1c11,
        340px 300px #2c1c11,
        360px 300px #2c1c11,
        380px 300px #2c1c11,
        400px 300px #2c1c11,
        420px 300px #2c1c11,
        440px 300px #000000,
        460px 300px #000000,
        480px 300px #2c1c11,
        500px 300px #000000,
        -160px 280px #000000,
        -140px 280px #2c1c11,
        -120px 280px #4a3a2f,
        -100px 280px #4a3a2f,
        -80px 280px #4a3a2f,
        -60px 280px #4a3a2f,
        -40px 280px #2c1c11,
        -20px 280px #2c1c11,
        0px 280px #2c1c11,
        20px 280px #2c1c11,
        40px 280px #2c1c11,
        60px 280px #2c1c11,
        80px 280px #4a3a2f,
        100px 280px #2c1c11,
        120px 280px #2c1c11,
        140px 280px #2c1c11,
        160px 280px #2c1c11,
        180px 280px #2c1c11,
        200px 280px #2c1c11,
        220px 280px #2c1c11,
        240px 280px #2c1c11,
        260px 280px #2c1c11,
        280px 280px #2c1c11,
        300px 280px #2c1c11,
        320px 280px #2c1c11,
        340px 280px #2c1c11,
        360px 280px #2c1c11,
        380px 280px #2c1c11,
        400px 280px #2c1c11,
        420px 280px #2c1c11,
        420px 280px #2c1c11,
        440px 280px #000000,
        460px 280px #000000,
        480px 280px #2c1c11,
        500px 280px #000000,
        -140px 260px #000000,
        -120px 260px #000000,
        -100px 260px #2c1c11,
        -100px 260px #2c1c11,
        -80px 260px #4a3a2f,
        -60px 260px #4a3a2f,
        -40px 260px #4a3a2f,
        -20px 260px #2c1c11,
        0px 260px #2c1c11,
        20px 260px #2c1c11,
        40px 260px #2c1c11,
        60px 260px #2c1c11,
        80px 260px #2c1c11,
        100px 260px #2c1c11,
        120px 260px #2c1c11,
        140px 260px #2c1c11,
        160px 260px #2c1c11,
        180px 260px #2c1c11,
        200px 260px #2c1c11,
        220px 260px #2c1c11,
        240px 260px #2c1c11,
        260px 260px #2c1c11,
        280px 260px #4a3a2f,
        300px 260px #2c1c11,
        320px 260px #2c1c11,
        340px 260px #2c1c11,
        360px 260px #2c1c11,
        380px 260px #2c1c11,
        400px 260px #2c1c11,
        420px 260px #2c1c11,
        440px 260px #000000,
        460px 260px #2c1c11,
        480px 260px #2c1c11,
        500px 260px #000000,
        -120px 240px #000000,
        -100px 240px #000000,
        -80px 240px #2c1c11,
        -60px 240px #4a3a2f,
        -40px 240px #4a3a2f,
        -20px 240px #4a3a2f,
        0px 240px #2c1c11,
        20px 240px #2c1c11,
        40px 240px #2c1c11,
        60px 240px #2c1c11,
        80px 240px #2c1c11,
        100px 240px #2c1c11,
        120px 240px #000000,
        140px 240px #2c1c11,
        160px 240px #2c1c11,
        180px 240px #2c1c11,
        200px 240px #2c1c11,
        220px 240px #2c1c11,
        240px 240px #2c1c11,
        260px 240px #2c1c11,
        280px 240px #2c1c11,
        300px 240px #4a3a2f,
        320px 240px #2c1c11,
        340px 240px #2c1c11,
        360px 240px #2c1c11,
        380px 240px #2c1c11,
        400px 240px #2c1c11,
        420px 240px #000000,
        440px 240px #000000,
        460px 240px #2c1c11,
        460px 240px #2c1c11,
        480px 240px #2c1c11,
        500px 240px #000000,
        -100px 220px #000000,
        -80px 220px #000000,
        -60px 220px #2c1c11,
        -40px 220px #4a3a2f,
        -20px 220px #4a3a2f,
        0px 220px #4a3a2f,
        20px 220px #2c1c11,
        40px 220px #2c1c11,
        60px 220px #2c1c11,
        80px 220px #2c1c11,
        100px 220px #000000,
        120px 220px #000000,
        140px 220px #000000,
        160px 220px #000000,
        180px 220px #2c1c11,
        200px 220px #2c1c11,
        220px 220px #2c1c11,
        240px 220px #2c1c11,
        260px 220px #2c1c11,
        280px 220px #2c1c11,
        300px 220px #2c1c11,
        320px 220px #2c1c11,
        340px 220px #2c1c11,
        360px 220px #2c1c11,
        380px 220px #2c1c11,
        400px 220px #000000,
        420px 220px #000000,
        440px 220px #2c1c11,
        460px 220px #2c1c11,
        480px 220px #2c1c11,
        500px 220px #000000,
        -60px 200px #000000,
        -40px 200px #000000,
        -20px 200px #2c1c11,
        500px 200px #000000,
        480px 200px #2c1c11,
        460px 200px #2c1c11,
        440px 200px #2c1c11,
        420px 200px #2c1c11,
        400px 200px #000000,
        380px 200px #000000,
        360px 200px #2c1c11,
        340px 200px #2c1c11,
        320px 200px #2c1c11,
        300px 200px #2c1c11,
        280px 200px #2c1c11,
        260px 200px #2c1c11,
        240px 200px #2c1c11,
        220px 200px #2c1c11,
        200px 200px #2c1c11,
        180px 200px #2c1c11,
        160px 200px #000000,
        140px 200px #000000,
        120px 200px #000000,
        100px 200px #2c1c11,
        80px 200px #2c1c11,
        60px 200px #2c1c11,
        40px 200px #2c1c11,
        20px 200px #2c1c11,
        0px 200px #2c1c11,
        -20px 180px #000000,
        0px 180px #000000,
        20px 180px #2c1c11,
        40px 180px #2c1c11,
        60px 180px #2c1c11,
        80px 180px #2c1c11,
        100px 180px #000000,
        120px 180px #000000,
        140px 180px #000000,
        160px 180px #2c1c11,
        500px 180px #000000,
        480px 180px #000000,
        460px 180px #2c1c11,
        440px 180px #4a3a2f,
        420px 180px #2c1c11,
        400px 180px #2c1c11,
        380px 180px #000000,
        360px 180px #000000,
        340px 180px #000000,
        320px 180px #2c1c11,
        300px 180px #2c1c11,
        300px 180px #2c1c11,
        280px 180px #2c1c11,
        260px 180px #2c1c11,
        240px 180px #2c1c11,
        220px 180px #2c1c11,
        200px 180px #2c1c11,
        180px 180px #2c1c11,
        420px 160px #4a3a2f,
        180px 100px #686868,
        200px 100px #686868,
        220px 100px #686868,
        240px 100px #686868,
        260px 100px #686868,
        280px 100px #686868,
        300px 100px #686868,
        320px 100px #4a3a2f,
        340px 100px #4a3a2f,
        360px 100px #4a3a2f,
        380px 100px #2C1C11,
        400px 100px #000000,
        420px 100px #000000,
        400px 100px #000000,
        380px 120px #4a3a2f,
        400px 120px #2C1C11,
        420px 120px #000000,
        440px 120px #000000,
        420px 140px #2C1C11,
        440px 140px #000000,
        460px 140px #000000,
        440px 160px #2C1C11,
        460px 160px #000000,
        480px 160px #000000,
        430px 120px #000000

        ;
    }